<template name="feeds">

	     	<div class="row">
	     		<div class="col-md-6">
	     			<div class="panel panel-info">
					  <div class="panel-heading">
					    <h3 class="panel-title"><a href="/feeds/facebook">Facebook</a></h3>
					  </div>
					  <div class="panel-body">
					    Panel content
					  </div>
					</div>
	     		</div>

	     		<div class="col-md-6">

		     		<div class="panel panel-info">
					  <div class="panel-heading">
					    <h3 class="panel-title"><a href="/feeds/twitter">Twitter</a></h3>
					</div>
					  </div>
					  <div class="panel-body">
					  <ul class="list-unstyled">
					    {{# each twitterFeed}}
					    	<li class="tweet">
					    		{{this.text}}
					    	</li>
					    {{/each}}
					  </ul>
					  </div>
	     		</div>
	     	</div>

	     	 <div class="row">
	     		<div class="col-md-6">
					<div class="panel panel-info">
					  <div class="panel-heading">
					    <h3 class="panel-title"><a href="/feeds/youtube">Youtube</a></h3>
					  </div>
					  <div class="panel-body">
					    Panel content
					  </div>
					</div>

	     		</div>

	     		<div class="col-md-6">

	     		<div class="panel panel-info">
				  	<div class="panel-heading">
				    <h3 class="panel-title"><a href="/feeds/instagram">Instagram</a></h3>
						<div class="panel-body">
							<ul class="list-unstyled">
								{{#each instagram}}
									<li class="instagram">
										<div class="instagram-img">
											<img src='{{this.imgUrl}}' />
										</div>
									</li>
								{{/each}}
							</ul>
						</div>
						</div>

					</div>

	     		</div>

	     	 </div>

</template>
