<template name="socialButtons">
	<div class="">
		<a class="btn btn-block btn-social btn-facebook">
			<i class="fa fa-facebook"></i> Sign in with Facebook
		</a>

		<a class="btn btn-block btn-social btn-twitter">
			<i class="fa fa-twitter"></i> Sign in with Twitter
		</a>

		<a class="btn btn-block btn-social btn-youtube">
			<i class="fa fa-youtube"></i> Sign in with Youtube
		</a>

		<a class="btn btn-block btn-social btn-instagram">
			<i class="fa fa-instagram"></i> Sign in with Instagram
		</a>
	</div>
</template>