<template name="settings">
		
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h3 style="color:#333">Connect yours social accounts:</h3>
		<br />

		<div class="" style="width:70%;">
			<a class="btn btn-block btn-social btn-facebook">
				<i class="fa fa-facebook"></i> Connect Facebook
			</a>

			<a class="btn btn-block btn-social btn-twitter">
				<i class="fa fa-twitter"></i> Connect Twitter
			</a>

			<a class="btn btn-block btn-social btn-youtube">
				<i class="fa fa-youtube"></i> Connect Youtube
			</a>

			<a class="btn btn-block btn-social btn-instagram">
				<i class="fa fa-instagram"></i> Connect Instagram
			</a>
		</div>

	</div>
</div>

</template>