<template name="features">
	<!-- SECTION OVERVIEW -->
	<div id="section-overview">
    	<div class="container">
        
           	<div class="header-title text-center wow fadeInUp" data-wow-duration="1s">
            	<h2>What Will You Get From Zelnuda</h2>

                	<p>Vestibulum rutrum vitae felis sit amet facilisis Duis iaculis adipiscing velit.</p>
                <hr class="line-center-color">
            </div>
            <!-- OVERVIEW ICON & DETAIL -->
            <div class="list-overview text-center">
                <div class="row">
                    <div class="col-md-4">
                        <i class="icon-color fa fa-rocket fa-5x wow fadeInUp" data-wow-duration="1s"></i>
                        <h3 class="title-overview-detail-color">Awesome news</h3>
                        <p>Cras sed ipsum eu ligula tristique scelerisque. Phasellus ipsum purus blandit eu malesuada nec gravida eu mauris. Suspendisse molestie.</p>
                    </div>
                    <div class="col-md-4">
                        <i class="icon-color fa fa-gear fa-5x wow fadeInUp" data-wow-duration="1s"></i>
                        <h3 class="title-overview-detail-color">Easy to Customize</h3>
                        <p>Cras sed ipsum eu ligula tristique scelerisque. Phasellus ipsum purus blandit eu malesuada nec gravida eu mauris. Suspendisse molestie.</p>
                    </div>
                    <div class="col-md-4">
                        <i class="icon-color fa fa-trophy fa-5x wow fadeInUp" data-wow-duration="1s"></i>
                        <h3 class="title-overview-detail-color">Modern Design</h3>
                        <p>Cras sed ipsum eu ligula tristique scelerisque. Phasellus ipsum purus blandit eu malesuada nec gravida eu mauris. Suspendisse molestie.</p>
                    </div>
                </div>
            </div>
            <!-- /EMD OVERVIEW ICON & DETAIL -->
    	</div>
    </div>
    <!-- /END SECTION OVERVIEW -->
</template>


<template name="features2">
	
	<!-- SECTION FEATURE -->
    <div id="section-feature">
        <!-- FEATURE 1 -->
        <div class="feature-1"> 
        	<div class="container">                      
                <div class="row">
                    
                    <div class="col-md-6 col-sm-6">
                        <!-- FEATURE IMAGE -->
                        <div class="feature-image wow fadeInLeft" data-wow-duration="1s">
                            <img src="img/iphone-3.png" alt="iphone">
                        </div>
                        <!-- /END FEATURE IMAGE -->
                    </div>
                    
                    <div class="col-md-6 col-sm-6">
                        <!-- FEATURE -->
                        <div class="feature wow fadeInRight" data-wow-duration="1s">
                            <!-- FEATURE HEADER -->
                            <div class="feature-header">
                                <h2>Awesome Feature</h2>
                                <hr class="line-left-color">
                            </div>
                            <!-- /END FEATURE HEADER -->
                            
                            <!-- FEATURE DETAIL -->
                            <div class="feature-detail">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sagittis magna eu porta condimentum. Aliquam erat volutpat. Aenean mattis odio condimentum, ultricies lacus eget, lacinia ipsum.</p><br>
                                <p><i class="icon-color fa fa-check"></i> Clean and Modern Design</p>
                                <p><i class="icon-color fa fa-check"></i> Easy to Customize Code</p>
                                <p><i class="icon-color fa fa-check"></i> Perfect for Your Apps</p>
                                <p><i class="icon-color fa fa-check"></i> Background Header Parallax</p>
                            </div>
                            <!-- /END FEATURE DETAIL -->
                        </div>
                        <!-- /END FEATURE -->
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- /END FEATURE 1 -->
        
        <!-- FEATURE LIST -->
        <div class="feature-list">
        	<div class="bg-overlay-feature-list">
            	<div class="container">
                
                    <div class="header-title text-center wow fadeInUp" data-wow-duration="1s">
                        <h2>What Will You Get From Veel</h2>
                         <p>Vestibulum rutrum vitae felis sit amet facilisis Duis iaculis adipiscing velit.</p>
                        <hr class="line-center-white">
                    </div>

                	<div class="row">
                        <!-- FEATURE LIST LEFT -->
                    	<div class="col-md-4 col-sm-4 feature-list-left wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.3s">
                        	
                            <div class="row features">
                            	<div class="col-md-3 col-sm-3 col-xs-12 visible-lg visible-md visible-xs feature-list-icon">
                                    <i class="fa fa-flask fa-3x"></i>
                                </div>
                                <div class="col-md-9 col-sm-12 col-xs-12 feature-list-detail">
                                    <h3>Bootstrap</h3>
                                    <p>Lorem ipsum dolor sit amet, Etiam consequat odio quis nisi sollicitudin diam accumsan.</p>
                                </div>
                            </div>
                            
                            <div class="row features">
                            	<div class="col-md-3 col-sm-3 col-xs-12 visible-lg visible-md visible-xs feature-list-icon">
                                    <i class="fa fa-html5 fa-3x"></i>
                                </div>
                                <div class="col-md-9 col-sm-12 col-xs-12 feature-list-detail">
                                    <h3>HTML5 & CSS3</h3>
                                    <p>Lorem ipsum dolor sit amet, Etiam consequat odio quis nisi sollicitudin diam accumsan.</p>
                                </div>
                            </div>

                            <div class="row features">
                            	<div class="col-md-3 col-sm-3 col-xs-12 visible-lg visible-md visible-xs feature-list-icon">
                                    <i class="fa fa-flag fa-3x"></i>
                                </div>
                                <div class="col-md-9 col-sm-12 col-xs-12 feature-list-detail">
                                    <h3>369 Font Icons</h3>
                                    <p>Lorem ipsum dolor sit amet, Etiam consequat odio quis nisi sollicitudin diam accumsan.</p>
                                </div>
                            </div>
 
                        </div>
                        <!-- /END FEATURE LIST LEFT -->


                        <!-- FEATURE LIST IMAGE -->
                        <div class="col-md-4 col-sm-4 hidden-xs">
                        	<div class="feature-list-image text-center wow fadeInUp" data-wow-duration="1s">
                            	<img src="img/Outlines-Devices-Presentation.png" alt="iphone-outline">
                        	</div>
                        </div>
                        <!-- /END FEATURE LIST IMAGE -->


                        <!-- FEATURE LLIST RIGHT -->
                        <div class="col-md-4 col-sm-4 feature-list-right wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.3s">
                        	
                            <div class="row features">
                            	<div class="col-md-3 col-sm-3 col-xs-12 visible-lg visible-md visible-xs feature-list-icon">
                                    <i class="fa fa-desktop fa-3x"></i>
                                </div>
                                <div class="col-md-9 col-sm-12 col-xs-12 feature-list-detail">
                                    <h3>Responsive Design</h3>
                                    <p>Lorem ipsum dolor sit amet, Etiam consequat odio quis nisi sollicitudin diam accumsan.</p>
                                </div>
                            </div>
                            
                            <div class="row features">
                            	<div class="col-md-3 col-sm-3 col-xs-12 visible-lg visible-md visible-xs feature-list-icon">
                                    <i class="fa fa-heart fa-3x"></i>
                                </div>
                                <div class="col-md-9 col-sm-12 col-xs-12 feature-list-detail">
                                    <h3>Clients Loving</h3>
                                    <p>Lorem ipsum dolor sit amet, Etiam consequat odio quis nisi sollicitudin diam accumsan.</p>
                                </div>
                            </div>

                            <div class="row features">
                            	<div class="col-md-3 col-sm-3 col-xs-12 visible-lg visible-md visible-xs feature-list-icon">
                                      <i class="fa fa-comments-o fa-3x"></i>
                                </div>
                                <div class="col-md-9 col-sm-12 col-xs-12 feature-list-detail">
                                    <h3>24/1 Supports</h3>
                                    <p>Lorem ipsum dolor sit amet, Etiam consequat odio quis nisi sollicitudin diam accumsan.</p>
                                </div>
                            </div>
                            
                        </div>
                        <!-- /END FEATURE LLIST RIGHT -->
                    </div>

                </div>
            </div>
        </div>
        <!-- /END FEATURE LIST -->
        
       	<!-- FEATURE 2 -->
        <div class="feature-2">
        	<div class="container">                     
                <div class="row">
                    
                    <div class="col-md-6 col-sm-6">
                        <!-- FEATURE -->
                        <div class="feature wow fadeInLeft" data-wow-duration="1s">
                            <!-- FEATURE HEADER -->
                            <div class="feature-header">
                                <h2>Awesome Feature</h2>
                                <hr class="line-left-color">
                            </div>
                            <!-- /END FEATURE HEADER -->
                            
                            <!-- FEATURE DETAIL -->
                            <div class="feature-detail wow fadeInRight" data-wow-duration="1s">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sagittis magna eu porta condimentum. Aliquam erat volutpat. Aenean mattis odio condimentum, ultricies lacus eget, lacinia ipsum. <br><br>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent id mi pharetra, tincidunt leo ac, bibendum magna. Sed accumsan rutrum enim, sit amet rhoncus turpis volutpat non. Mauris sit amet ornare tortor. Nam vel aliquam magna, et dignissim nunc. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque blandit vehicula lacus, vel pharetra lectus pellentesque vestibulum. Aenean in imperdiet est. Mauris vel magna sapien.</p>
                            </div>
                            <!-- /END FEATURE DETAIL -->
                        </div>
                        <!-- /END FEATURE -->
                    </div>
                    
                    <div class="col-md-6 col-sm-6">
                        <!-- FEATURE IMAGE -->
                        <div class="feature-image wow fadeInLeft" data-wow-duration="1s">
                            <img src="img/iphone-4.png" alt="iphone">
                        </div>
                        <!-- /END FEATURE IMAGE -->
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- /END FEATURE 2 -->
    </div>
	<!-- /END SECTION FEATURE -->

</template>