<template name="footer">
	
    <!-- SECTION FOOTER -->
    <div id="section-footer">
        <div class="container text-center">
            <!-- SOCIAL LINK -->
            <ul class="list-inline wow fadeInUp" data-wow-duration="1s">
                <li>
                    <a href=""><i class="icon-color fa fa-facebook-square fa-2x"></i></a>
                </li>
                <li>
                    <a href=""><i class="icon-color fa fa-twitter-square fa-2x"></i></a>
                </li>
                <li>
                    <a href=""><i class="icon-color fa fa-linkedin-square fa-2x"></i></a>
                </li>
                <li>
                    <a href=""><i class="icon-color fa fa-google-plus-square fa-2x"></i></a>
                </li>
                <li>
                    <a href=""><i class="icon-color fa fa-instagram fa-2x"></i></a>
                </li>
            </ul>
            <!-- /END SOCIAL LINK -->
            <hr>
            <p>Zuldena</p>
        </div>
    </div>
    
</template>