<template name="gallery">
	<!-- SECTION GALLERY -->
    <div id="section-gallery">
    	<div class="container">

            <div class="header-title text-center wow fadeInUp" data-wow-duration="1s">
                <h2>Awesome Slide Screenshoot</h2>
                    <p>Vestibulum rutrum vitae felis sit amet facilisis Duis iaculis adipiscing velit.</p>
                <hr class="line-center-color">
            </div>

            <div class="gallery wow fadeInUp" data-wow-duration="1s">
                <!-- OWL SLIDE ITEM -->
                <div id="owl-slide" class="owl-carousel">
                    <div class="item"><img src="img/screen1.jpg" alt="Owl Image"></div>
                    <div class="item"><img src="img/screen2.jpg" alt="Owl Image"></div>
                    <div class="item"><img src="img/screen3.jpg" alt="Owl Image"></div>
                    <div class="item"><img src="img/screen4.jpg" alt="Owl Image"></div>
                    <div class="item"><img src="img/screen4.jpg" alt="Owl Image"></div>
                    <div class="item"><img src="img/screen3.jpg" alt="Owl Image"></div>
                    <div class="item"><img src="img/screen2.jpg" alt="Owl Image"></div>
                    <div class="item"><img src="img/screen1.jpg" alt="Owl Image"></div>
                </div>
                <!-- /END OWL SLIDE ITEM -->
            </div>
        </div>
    </div>
	<!-- /END SECTION GALLERY -->
</template>