	<template name="valueProposition">
    <!-- SECTION HEADER -->
    <div id="section-header" class="parallax" data-stellar-background-ratio="0.5">
        <div class="bg-overlay-header">
        	<div class="container">
           
                <!-- INTRO & BUTTON -->
                <div class="intro text-center">
                    <h1 class="intro-message ">Zulneda</h1>
                    <hr class="line-center-white" style="width: 100px;">
                    <!-- INTRO MESSAGE -->
                    <h2 class="intro-message ">All your feeds in one place</h2>
                
                    <!-- /END INTRO MESSAGE -->
                    <!-- BUTTON DOWNLOAD -->
                    <div class="button-download">
                        <ul class="list-unstyled list-inline">
                        <li>  
                            <a class="btn btn-primary btn-lg" href="/signin"><i class="fa fa-power-on"></i> Signin</a>
                        </li>
                        <li>  
                            <a class="btn btn-primary btn-lg" href="/signup"><i class="fa fa-power-on"></i> Signup</a>
                        </li>
                            
                        </ul>
                      
                    </div>
                    <!-- /END DOWNLOAD -->
                </div>
                <!-- /END INTRO & BUTTON -->
                
           </div>
        </div>
    </div>
	<!-- /END SECTION HEADER -->
    </template>