.wrapper {min-width:500px;padding: 0 15px;background-color:#2B3E50;min-height:800px;}
.navigation {
    position:fixed;
    color: #fff;
  }
.content {
	background-color:#f7f7f7;
	min-height:800px;
	padding: 40px;
}
.tweet {
	font-style: italic;
    font-size: 12px;
    border-bottom: 1px solid grey;
}