.wrapper {min-width:500px;padding: 0 15px;background-color:#2B3E50;min-height:800px;}
.navigation {
    position:fixed;
    color: #fff;
  }
.content {
	background-color:#f7f7f7;
	min-height:800px;
	padding: 40px;
}
.tweet {
	font-style: italic;
    font-size: 12px;
    border-bottom: 1px solid grey;
}

img.instagram-img {
  width: 100px;
  height: 100px;
  margin: 5px;
}

.instagram-post {
  display: -webkit-box;
  overflow: hidden;
  height: 120px;
}

.instagram-info {
  width: calc(100% - 110px);
  height: 100px;
  margin-top: 5px;
}

.instagram-name {
  color: #73ABE1;
  font-weight: bolder;
  line-height: 15px;
}

.instagram-text {
  line-height: 15px;
  font-size: 13px;
  height: 85px;
  vertical-align: text-bottom;
  overflow: hidden;
}
